version: '3.9'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env-dev
    container_name: tournofbio_app
    ports:
      - "8000:8000"
    depends_on:
      - db


  db:
    image: postgres:16.2
    container_name: tournofbio_app
    expose:
      - 5432
    env_file:
      - .env-dev
    environment:
      - POSTGRES_USERNAME=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DATABASE=${DB_NAME}
      - POSTGRES_HOST_AUTH_METHOD= "trust"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d postgres -U postgres" ]
      interval: 10s
      timeout: 3s
      retries: 5